<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<body>
    <h2>The area of the house in sqft is {{a}}.</h2>
    <h2>The house is located at {{s}}.</h2>
    <h2>Total number of bedrooms in the house is {{b1}}.</h2>
    <h2>Total number of bathrooms in the house is {{b2}}.</h2>
    <h2>Total number of balconies in the house is {{b3}}.</h2>
    <h1>The predicted price for the house is {{predicted_value}}</h1>
</body>
</html>